@import '../../../../../styles/variables.scss';

.mobileFiltersForm{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);
    background-color: $backgroundColor;
    z-index: 5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filterContainerTitle{
    width: 100%;
    color: $secondaryTextColor;
    font-size: .9rem;
    margin-bottom: 5px;
    padding-left: 3px;
}

.filterInputContainer{
    display: flex;
    align-items: center;
    gap: 15px;
}

.inputPriceFilter{
    font-size: .9rem;
    padding: 5px;
    width: 30%;
}

.applyAndCloseButtonsContainer{
    display: flex;
    justify-content: space-around;
}

.applyAndCloseButtons{
    background: none;
    width: 45%;
    padding: 5px;
    font-size: .9rem;
    border-radius: 10px;
    border: 2px solid $blueBytear;
    color: $blueBytear;
}

@media (width >= 768px){
    .mobileFiltersForm{
        gap: 30px;
        padding: 40px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    .filterContainerTitle{
        font-size: 1.2rem;
        margin-bottom: 7px;
    }
    
    .filterInputContainer{
        gap: 15px;
    }
    
    .inputPriceFilter{
        font-size: 1.2rem;
        padding: 7px;
    }
    
    .applyAndCloseButtons{
        padding: 8px;
        font-size: 1.2rem;
        border: 3px solid $blueBytear;
        font-weight: bold;
    }
}