@import './variables.scss';

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 0 10px 0 gray;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: $backgroundColor;
}

.headerLogoContainer{
    display: flex;
    align-items: center;
}

.headerOpenNavbarIconContainer{
    display: flex;
    align-items: center;
    gap: 30px;
}

.headerNavbarCartLink{
    display: flex;
}

.headerCartNavbarIcon{
    color: $blueBytear;
}

.headerOpenNavbarIcon{
    color: $blueBytear;
}

.headerBorderBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, $blueBytear 0%, $violetBytear 50%);
}

.headerNavbar{
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;

    width: 60%;
    height: 100vh;

    background-color: $backgroundColor;
    box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);

    z-index: 10;
}

.headerNavbarLinksContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.headerNavbarLink{
    font-size: 1.35rem;
    font-weight: 700;
    color: $blueBytear;
}

.headerNavbarLoginLink{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: rgb(230,230,230);
    text-align: center;
    padding: 4px 15px;
    border-radius: 10px;
}

.navbarCloseNavbarIcon{
    color: $violetBytear;
}

.headerDesktopNavbar{
    display: none;
}

@media (width >= 768px){
    .header{
        padding: 20px 20px;
    }

    .headerLogo{
        width: 170px;
        height: auto;
    }

    .headerOpenNavbarIconContainer{
        gap: 50px;
    }

    .headerNavbarCartLink{
        display: flex;
    }
    
    .headerCartNavbarIcon{
        width: 33px;
        height: auto;
    }
    
    .headerOpenNavbarIcon{
        width: 48px;
        height: 48px;
    }
    
    .headerBorderBottom{
        height: 4px;
    }
    
    .headerNavbar{
        gap: 120px;
        width: 55%;
    }
    
    .headerNavbarLinksContainer{
        gap: 50px;
    }
    
    .headerNavbarLink{
        font-size: 2rem;
    }

    .headerNavbarLoginLink{
        gap: 15px;
        font-size: 1.7rem;
        padding: 6px 15px;
        border-radius: 15px;
    }

    .headerLoginIcon{
        width: 32px;
        height: auto;
    }
    
    .navbarCloseNavbarIcon{
        width: 49px;
        height: 49px;
    }
}

@media (width >= 992px){
    .header{
        padding: 18px 20px;
    }

    .headerLogo{
        width: 110px;
    }
    
    .headerOpenNavbarIconContainer{
        display: none;
    }
    
    .headerBorderBottom{
        height: 3px;
    }
    
    .headerNavbar{
        display: none;
    }
    
    .headerDesktopNavbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;
    }

    .headerDesktopNavbarLink{
        color: $blueBytear;
        font-size: 1rem;
        font-weight: 500;
    }

    .headerLoginAndCartDesktopContainer{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .headerDesktopNavbarLoginLink{
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: .9rem;
        padding: 3px 12px;
        background-color: rgb(230,230,230);
        border: 1px solid $blueBytear;
        border-radius: 10px;
    }

    .headerDesktopNavbarCartLink{
        display: flex;
    }

    .headerDesktopCartNavbarIcon{
        color: $blueBytear;
    }
}

@media (width >= 1200px){
    .header{
        padding: 20px 25px;
    }

    .headerLogo{
        width: 130px;
    }
    
    .headerBorderBottom{
        height: 4px;
    }

    .headerDesktopNavbarLink{
        font-size: 1.1rem;
    }

    .headerLoginAndCartDesktopContainer{
        gap: 35px;
    }

    .headerDesktopNavbarLoginLink{
        gap: 15px;
        font-size: 1rem;
        padding: 4px 15px;
        border-radius: 15px;
    }

    .headerDesktopLoginIcon{
        width: 22px;
        height: auto;
    }

    .headerDesktopCartNavbarIcon{
        width: 27px;
        height: auto;
    }
}