@import './variables.scss';

.categoryMain{
    padding: 15px 20px 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.categoryTitle{
    font-size: 1.6rem;
    color: $blueBytear;
    text-align: center;
}

.desktopFilterSection{
    display: none;
}

.filterAndOrderProductsButtonsContainer{
    display: flex;
    justify-content: space-between;
}

.filterAndOrderProductsButton{
    background: none;
    color: $blueBytear;
    border: 2px solid $blueBytear;
    border-radius: 15px;
    padding: 3px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filterAndOrderProductsIcon{
    width: 15px;
}

.productsSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}

.productContainer{
    width: 48%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-bottom: 15px;
    transition: .3s all;
}

.productContainer:hover{
    box-shadow: 0 0 7px 0px rgb(0, 0, 0, 0.3);
    transition: .3s all;
}

.productImage{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.productName{
    padding: 15px;
    text-align: center;
    font-size: .9rem;
    color: $blueBytear;
}

.productPrice{
    color: $blueBytear;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

@media(width >= 768px){
    .categoryMain{
        padding: 25px 50px 45px;
        gap: 25px;
    }

    .categoryTitle{
        font-size: 2.2rem;
    }

    .filterAndOrderProductsButton{
        font-size: 1.2rem;
        padding: 3px 8px;
        gap: 8px;
    }

    .filterAndOrderProductsIcon{
        width: 20px;
    }

    .productsSection{
        row-gap: 30px;
    }

    .productContainer{
        width: 31%;
        padding-bottom: 20px;
    }

    .productImage{
        height: 200px;
    }

    .productName{
        padding: 20px;
        font-size: 1.2rem;
    }

    .productPrice{
        font-size: 1.6rem;
    }
}

@media(width >= 992px){
    .categoryMain{
        padding: 30px 50px 60px;
        gap: 25px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .categoryTitleContainer{
        width: 100%;
    }

    .categoryTitle{
        font-size: 1.5rem;
    }

    .filterAndOrderProductsButtonsContainer{
        display: none;
    }

    .desktopFilterSection{
        display: block;
        width: 20%;
    }

    .desktopFiltersTitle{
        font-size: 1.2rem;
        font-weight: bold;
    }

    .desktopFiltersForm{
        margin-top: 20px;
    }

    .desktopFilterTitle{
        font-size: .9rem;
        margin-bottom: 5px;
        padding-left: 2px;
        color: $secondaryTextColor;
    }

    .desktopPricesFiltersContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .desktopPriceInputFilter{
        width: 45%;
        font-size: .8rem;
        padding: 3px;
    }

    .desktopApplyFiltersButton{
        margin-top: 20px;
        background-color: $blueBytear;
        color: $backgroundColor;
        border-radius: 10px;
        font-size: .9rem;
        font-weight: bold;
        padding: 5px;
        border: none;
        cursor: pointer;
    }

    .productsSection{
        width: 77%;
        row-gap: 25px;
    }

    .productContainer{
        width: 23%;
        padding-bottom: 25px;
    }

    .productImage{
        height: 150px;
    }

    .productName{
        padding: 18px;
        font-size: 1rem;
    }

    .productPrice{
        font-size: 1.3rem;
    }
}

@media(width >= 1200px){
    .categoryMain{
        padding: 30px 50px 70px;
        gap: 35px;
    }

    .categoryTitle{
        font-size: 1.7rem;
    }

    .desktopFilterSection{
        width: 20%;
    }

    .desktopFiltersTitle{
        font-size: 1.4rem;
    }

    .desktopFiltersForm{
        margin-top: 32px;
    }

    .desktopFilterTitle{
        font-size: 1rem;
        margin-bottom: 7px;
        padding-left: 3px;
    }

    .desktopPriceInputFilter{
        font-size: .9rem;
        padding: 5px;
    }

    .desktopApplyFiltersButton{
        margin-top: 40px;
        font-size: 1rem;
        padding: 7px 15px;
    }

    .productsSection{
        width: 76%;
        row-gap: 30px;
    }

    .productContainer{
        width: 23%;
        padding-bottom: 25px;
    }

    .productImage{
        height: 210px;
    }

    .productName{
        padding: 25px;
        font-size: 1.05rem;
    }

    .productPrice{
        font-size: 1.5rem;
    }
}